html{
	max-width: 100%;
	margin: 0;
}

body {
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: black;
	background: linear-gradient(red, blue);
	max-width: 100%;
}

header { 
	padding: 3em;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: 100%;
	letter-spacing: 0.4375em;
	max-width: 100%;
}
h1 {
	font-size: 3em;
	font-weight: bold;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.text {
	 padding: 1em;
    overflow: hidden;
    text-align: justify;
     text-shadow: 2px 2px #000;
}
.container {
	width: 30%;
	padding: 3em;
    padding:5px 5px 10px 10px;
    box-shadow: 2px 2px 5px 10px #CCC;
    background-color:#f3f3f3;
    margin: 0;
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#box {
    transition: background-color 2s;
    -moz-transition: background-color 2s;
    -webkit-transition: background-color 2s;
    -ms-transition: background-color 2s;
    -o-transition: background-color 2s;
    width:100px;
    height:100px;
    background-color:red;
  }
  #box:hover {
    background-color: yellow;
}

footer {
	padding: 1em 1em;
	color: white;
	background-color: black;
	background: linear-gradient(to bottom right, red, yellow);
}
